@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(lib/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2) format('woff2');
    }
}
